# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\Teori maskininlärning grupparbete\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
